PORT=8000
API_KEY=changeme
DATABASE_URL=postgresql+asyncpg://swadely:changeme@127.0.0.1:5432/swadely_dev
JWT_SECRET=changeme
JWT_ACCESS_TOKEN_TTL_MINUTES=15
JWT_REFRESH_TOKEN_TTL_DAYS=30

REDIS_URL=redis://127.0.0.1:6379/0
# CELERY_BROKER_URL=redis://127.0.0.1:6379/0
# CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

DOCUMENTS_S3_BUCKET=swadely-documents-dev
AWS_REGION=us-east-1
